*, *::after, *::before, html,body
{
  padding: 0;margin: 0;
  font-size: 1.24rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,body{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

a, a:visited{
  text-decoration: none;
  display: inline-block;
}
li{
  list-style: none;
}

.componentContainer{
  width: 100%;
}
img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}


.bg-dark{
  background-color: #3c3c3c;
}
.bg-light{
  background-color: #FFFFFFFF;
}
.dark *{
  color: #000!important;
}

.light *{
  color: #FFF;
}
