.body{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.grid{
  position: absolute;
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 75vw;height: 70vh;
  left: 50%;top: 50%;
  transform: translate(-50%,-50%);
}

#form{
  position: relative;
  width:100%;
  height: 100%;
  border: 2px solid red;
}
