*, *::after, *::before, html,body
{
padding: 0;margin: 0;
font-size: 1.14rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
box-sizing: border-box;
}

html,body{
position: absolute;
width: 100vw;
height: 100vh;
background-color: #3c3d3d;
color: #FFF;
}
button{
  outline: none;
}

input, button{
  padding: .375rem;
  border-radius: 6px;
}
input{
  border: none;
  transition: outline .12s;
}
input::placeholder{
  text-align: center;
  pointer-events: none;
}
input:focus{
  outline:4px solid #355dff;
}

a, a:visited{
text-decoration: none;
color: inherit;
display: inline-block;
line-height: 60px;
}

li{
list-style: none;
background-color: transparent;
transition: background-color .13s;
}

.itemLink:hover{
  background-color: #8383bfdd;
}
a.itemLink{
  display: flex;
  align-items: center;
}

.componentContainer{
width: 100%;
}

img{
width: inherit;
height: inherit;
object-fit: contain;
}


.bg-dark{
background-color: #3c3c3c;
}
.bg-light{
background-color: #FFFFFFFF;
}
.dark *{
color: #000;
}

.light *{
color: #FFF;
}


div#appGrid{
  position: relative;
  display: grid;
  grid-template-columns: minmax(60px, 16.75rem) 1fr;
  grid-template-rows: 5.625rem 1fr;
  grid-template-areas:"Dashboard Searcher"
                      "Dashboard Gallery";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

nav#dashboard{grid-area: Dashboard;}
nav#searcher{grid-area: Searcher;}
nav#gallery{grid-area: Gallery;}

nav#dashboard, header#searcher, 
main#gallery{
  padding: 1.097rem;
}
nav#dashboard{
  background-color: #333;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  overflow-x:hidden;
  transition: width .15s;
}

nav#dashboard.toggle{
  width: 50px;
  overflow: hidden;
}

#icon{
  width: 40px;
  height: 40px;
  display: block;
}

