#layout{
  display: grid;
  grid-template-rows: 4rem 1fr;
  width: 100%;
  height: 100%;
  gap: 1rem;
}
.gridItem:nth-child(1){
  text-align: center;
}

.gridItem:nth-child(2){
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
}
.flexItem{
  width: 100%;
  height: 100%;
  transition: background-color .23s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexItem:nth-child(1):hover{
  background-color: #2d43c02a;
}
.flexItem:nth-child(2):hover{
  background-color: #832dc02a;
}

.link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.link > .icon{

  width: 6.75rem!important;
  height: 6.75rem!important;
  display: inline;
}

@media screen and (max-width: 40.625rem) {
  .gridItem:nth-child(2){
    flex-direction: column;
  }
}